.swat-table-view .swat-table-view-spanning-column td {
	padding: 0 0 4px;
	border-top: 0;
}

.has-notes .admin-notes {
	display: block;
	color: rgba(0,0,0,0.54);
	background: #FFF9C4;
	padding: 4px 6px;
}
