.swat-details-view th {
	min-width: 100px;
}

.swat-details-view .swat-details-view-field-header {
	margin-top: 20px;
	width: 100%;
	font-size: 122%;
	color: #333;
}

#details_view #active_period_field .details-note {
	display: block;
	font-size: 11px;
	color: #888;
}

#promotion_code_summary .swat-disclosure-container {
	background: #f8f6f0;
	border-color: #dcceb2;
}

#promotion_code_summary p {
	margin: 0;
}
